<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="nav">
        <ul class="nav__item-list">
            <li class="nav__item">
                <a href="/" class="<%= path === '/' ? 'active' : '' %>">BookStore</a>
            </li>
            <li class="nav__item">
                <a href="/admin/add-book" class="<%= path === '/admin/add-book' ? 'active' : '' %>">Add Book</a>
            </li>
            <li class="nav__item">
                <a href="/admin/products" class="<%= path === '/admin/products' ? 'active' : '' %>">Manage</a>
            </li>
        </ul>
    </nav>